target/classes/cardekho-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="cardekho-system-api-httpListenerConfig" host="localhost" port="8011" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="cardekho-system-api-config" raml="cardekho-system-api.raml" consoleEnabled="false" doc:name="Router"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="1234" database="cardekho" doc:name="MySQL Configuration"/>
    <flow name="cardekho-system-api-main">
        <http:listener config-ref="cardekho-system-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="cardekho-system-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="cardekho-system-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="cardekho-system-api-console">
        <http:listener config-ref="cardekho-system-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="cardekho-system-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/brands:cardekho-system-api-config">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
"select * from brands"]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Get All Cars Details --&gt; #[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="cardekho-system-apiSub_Flow" doc:name="cardekho-system-apiSub_Flow"/>

    </flow>
    <sub-flow name="cardekho-system-apiSub_Flow">
        <db:select config-ref="MySQL_Configuration" doc:name="dbCardekhoSelectAll">
            <db:dynamic-query><![CDATA[#[payload]]]></db:dynamic-query>
        </db:select>
        <logger message="Select Database Logs --&gt; #[payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <flow name="post:/brands:cardekho-system-api-config">
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
"insert into brands (brandid, brandname, carname, modelname, price) values (
"
++ "'" ++ payload.brandid ++ "'" ++ ","
++ "'" ++ payload.brandname ++ "'" ++ ","
++ "'" ++ payload.carname ++ "'" ++ ","
++ "'" ++ payload.modelname ++ "'" ++ ","
++ "'" ++ payload.price ++ "'" ++ ")"

]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Post Car Details --&gt; #[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="cardekho-system-api-post-Sub_Flow" doc:name="cardekho-system-api-post-Sub_Flow"/>

    </flow>
    <sub-flow name="cardekho-system-api-post-Sub_Flow">
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:dynamic-query><![CDATA[#[payload]]]></db:dynamic-query>
        </db:insert>
        <logger message="Post Details Database Logs --&gt; #[payload]" level="INFO" doc:name="logDbPostCarDetails"/>
    </sub-flow>
    <apikit:mapping-exception-strategy name="cardekho-system-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
